/* 
    ----fonts---

    nunito: 400 600 700
    work sans: 400 500 700
*/

:root {
    --bg-light: #eef3ff;
    --box-bg: #9fa1a0;
    --text-strong: #182B4D;
    --text-small:#181515; 
}

body {
    background-color: var(--bg-light);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

i.material-icons {
    font-size: 24px;
    color: white;
}